In [94]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
# from pandas import DataFrame

In [95]:
sub_2021 = pd.read_excel('2021_sub_1.xlsx', engine='openpyxl')
sub_2020 = pd.read_excel('2020_sub_1.xlsx', engine='openpyxl')
sub_2019 = pd.read_excel('2019_sub_1.xlsx', engine='openpyxl')
sub_2018 = pd.read_excel('2018_sub_1.xlsx', engine='openpyxl')
sub_2017 = pd.read_excel('2017_sub_1.xlsx', engine='openpyxl')
sub_2016 = pd.read_excel('2016_sub_1.xlsx', engine='openpyxl')
sub_2015 = pd.read_excel('2015_sub_1.xlsx', engine='openpyxl')

In [96]:
# sub_2021
# sub_2020
# sub_2019
# sub_2018
# sub_2017
# sub_2016
sub_2015

    시도  Total_fertility_rate  Net_Mover  immigration
0   서울                 1.001    -137256        28328
1   부산                 1.139     -13560         3704
2   대구                 1.216     -12940         2332
3   인천                 1.216       9538         3956
4   광주                 1.207      -9272         1270
5   대전                 1.277     -20616         2878
6   울산                 1.486        -80         1462
7   세종                 1.893      53044          568
8   경기                 1.272      94768        28334
9   강원                 1.311       4773         1200
10  충북                 1.414       1438         1206
11  충남                 1.480      10272         2026
12  전북                 1.352      -2830         1532
13  전남                 1.549       3936          894
14  경북                 1.464       -577         1590
15  경남                 1.437       5105         2852
16  제주                 1.477      14257          560

In [97]:
main = pd.read_excel('merged_main_data.xlsx', engine='openpyxl')

In [98]:
main

,연도,학교명,시도,대계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship
0,2015,강릉원주대학교,강원,인문계열,국어국문학과,38,238,37,1
1,2015,강릉원주대학교,강원,인문계열,중어중문학과,27,154,26,1
2,2015,강릉원주대학교,강원,인문계열,영어영문학과,38,193,36,1
3,2015,강릉원주대학교,강원,인문계열,독어독문학과,23,118,23,1
4,2015,강릉원주대학교,강원,인문계열,사학과,27,174,27,1
...,...,...,...,...,...,...,...,...,...
87091,2021,한국전통문화대학교,충남,인문계열,기타모집단위,5,0,0,0
87092,2021,한국전통문화대학교,충남,공학계열,전통건축학과,21,105,21,0
87093,2021,한국전통문화대학교,충남,공학계열,전통조경학과,16,76,16,0
87094,2021,한국전통문화대학교,충남,예체능계열,전통미술공예학과,41,90,41,0
87095,2021,한국전통문화대학교,충남,NaN,소속학과없음,0,0,0,0

In [99]:
schoolage = pd.read_excel('school-age population.xlsx', engine='openpyxl')

In [100]:
schoolage

                   인구종류별  2015  2016  2017  2018  2019  2020  2021  2022
0  학령인구(천명): 대학교(18-21세)  2755  2710  2642  2593  2537  2410  2258  2093

**check and drop nan value**

In [101]:
# print(main.isnull().sum())
main = main.dropna(axis=0)
# print(main.isnull().sum())

In [102]:
# print(sub_2021.isnull().sum())
# print(sub_2020.isnull().sum())
# print(sub_2019.isnull().sum())
# print(sub_2018.isnull().sum())
# print(sub_2017.isnull().sum())
# print(sub_2016.isnull().sum())
# print(sub_2015.isnull().sum())

sub_2021 = sub_2021.dropna(axis=0)
sub_2020 = sub_2020.dropna(axis=0)
sub_2019 = sub_2019.dropna(axis=0)
sub_2018 = sub_2018.dropna(axis=0)
sub_2017 = sub_2017.dropna(axis=0)
sub_2016 = sub_2016.dropna(axis=0)
sub_2015 = sub_2015.dropna(axis=0)

# print(sub_2021.isnull().sum())
# print(sub_2020.isnull().sum())
# print(sub_2019.isnull().sum())
# print(sub_2018.isnull().sum())
# print(sub_2017.isnull().sum())
# print(sub_2016.isnull().sum())
# print(sub_2015.isnull().sum())

In [103]:
idx = main[main['모집인원_학부_계'] == 0].index
main.drop(idx, inplace=True)
main

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,연도,학교명,시도,대계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship
0,2015,강릉원주대학교,강원,인문계열,국어국문학과,38,238,37,1
1,2015,강릉원주대학교,강원,인문계열,중어중문학과,27,154,26,1
2,2015,강릉원주대학교,강원,인문계열,영어영문학과,38,193,36,1
3,2015,강릉원주대학교,강원,인문계열,독어독문학과,23,118,23,1
4,2015,강릉원주대학교,강원,인문계열,사학과,27,174,27,1
...,...,...,...,...,...,...,...,...,...
87090,2021,한국전통문화대학교,충남,인문계열,융합고고학과,16,105,16,0
87091,2021,한국전통문화대학교,충남,인문계열,기타모집단위,5,0,0,0
87092,2021,한국전통문화대학교,충남,공학계열,전통건축학과,21,105,21,0
87093,2021,한국전통문화대학교,충남,공학계열,전통조경학과,16,76,16,0
87094,2021,한국전통문화대학교,충남,예체능계열,전통미술공예학과,41,90,41,0

**merge data '학교명' & '학과명' column in main data**

In [104]:
# print(main['학교명'])
# print(main['학과명'])


main["학교_학과명"] = main['학교명'] +'_'+ main['학과명']

main.drop(["학교명"],axis=1,inplace=True)
main.drop(["학과명"],axis=1,inplace=True)

main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,연도,시도,대계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,학교_학과명
0,2015,강원,인문계열,38,238,37,1,강릉원주대학교_국어국문학과
1,2015,강원,인문계열,27,154,26,1,강릉원주대학교_중어중문학과
2,2015,강원,인문계열,38,193,36,1,강릉원주대학교_영어영문학과
3,2015,강원,인문계열,23,118,23,1,강릉원주대학교_독어독문학과
4,2015,강원,인문계열,27,174,27,1,강릉원주대학교_사학과
...,...,...,...,...,...,...,...,...
87090,2021,충남,인문계열,16,105,16,0,한국전통문화대학교_융합고고학과
87091,2021,충남,인문계열,5,0,0,0,한국전통문화대학교_기타모집단위
87092,2021,충남,공학계열,21,105,21,0,한국전통문화대학교_전통건축학과
87093,2021,충남,공학계열,16,76,16,0,한국전통문화대학교_전통조경학과
87094,2021,충남,예체능계열,41,90,41,0,한국전통문화대학교_전통미술공예학과

In [105]:
main['competition_rate'] = main['지원자_전체_계'] / main['모집인원_학부_계']
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,연도,시도,대계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,학교_학과명,competition_rate
0,2015,강원,인문계열,38,238,37,1,강릉원주대학교_국어국문학과,6.263158
1,2015,강원,인문계열,27,154,26,1,강릉원주대학교_중어중문학과,5.703704
2,2015,강원,인문계열,38,193,36,1,강릉원주대학교_영어영문학과,5.078947
3,2015,강원,인문계열,23,118,23,1,강릉원주대학교_독어독문학과,5.130435
4,2015,강원,인문계열,27,174,27,1,강릉원주대학교_사학과,6.444444
...,...,...,...,...,...,...,...,...,...
87090,2021,충남,인문계열,16,105,16,0,한국전통문화대학교_융합고고학과,6.562500
87091,2021,충남,인문계열,5,0,0,0,한국전통문화대학교_기타모집단위,0.000000
87092,2021,충남,공학계열,21,105,21,0,한국전통문화대학교_전통건축학과,5.000000
87093,2021,충남,공학계열,16,76,16,0,한국전통문화대학교_전통조경학과,4.750000
87094,2021,충남,예체능계열,41,90,41,0,한국전통문화대학교_전통미술공예학과,2.195122

In [106]:
main['Total_fertility_rate']=0
main['Net_Mover']=0
main['immigration']=0
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,연도,시도,대계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,학교_학과명,competition_rate,Total_fertility_rate,Net_Mover,immigration
0,2015,강원,인문계열,38,238,37,1,강릉원주대학교_국어국문학과,6.263158,0,0,0
1,2015,강원,인문계열,27,154,26,1,강릉원주대학교_중어중문학과,5.703704,0,0,0
2,2015,강원,인문계열,38,193,36,1,강릉원주대학교_영어영문학과,5.078947,0,0,0
3,2015,강원,인문계열,23,118,23,1,강릉원주대학교_독어독문학과,5.130435,0,0,0
4,2015,강원,인문계열,27,174,27,1,강릉원주대학교_사학과,6.444444,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
87090,2021,충남,인문계열,16,105,16,0,한국전통문화대학교_융합고고학과,6.562500,0,0,0
87091,2021,충남,인문계열,5,0,0,0,한국전통문화대학교_기타모집단위,0.000000,0,0,0
87092,2021,충남,공학계열,21,105,21,0,한국전통문화대학교_전통건축학과,5.000000,0,0,0
87093,2021,충남,공학계열,16,76,16,0,한국전통문화대학교_전통조경학과,4.750000,0,0,0
87094,2021,충남,예체능계열,41,90,41,0,한국전통문화대학교_전통미술공예학과,2.195122,0,0,0

In [107]:
main_2015 = main[main['연도']==2015]
# main_2015
main_2016 = main[main['연도']==2016]
# main_2016
main_2017 = main[main['연도']==2017]
# main_2017
main_2018 = main[main['연도']==2018]
# main_2018
main_2019 = main[main['연도']==2019]
# main_2019
main_2020 = main[main['연도']==2020]
# main_2020
main_2021 = main[main['연도']==2021]
# main_2021

In [108]:
main_ = main_2015
sub_ = sub_2015

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,9] = sub_.iat[j,1]
            main_.iat[i,10] = sub_.iat[j,2]
            main_.iat[i,11] = sub_.iat[j,3]

main_2015_merge = main_
# print(main_2015_merge)

In [109]:
main_ = main_2016
sub_ = sub_2016

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,9] = sub_.iat[j,1]
            main_.iat[i,10] = sub_.iat[j,2]
            main_.iat[i,11] = sub_.iat[j,3]

main_2016_merge = main_
# print(main_2016_merge)

In [110]:
main_ = main_2017
sub_ = sub_2017

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,9] = sub_.iat[j,1]
            main_.iat[i,10] = sub_.iat[j,2]
            main_.iat[i,11] = sub_.iat[j,3]

main_2017_merge = main_
# print(main_2017_merge)

In [111]:
main_ = main_2018
sub_ = sub_2018

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,9] = sub_.iat[j,1]
            main_.iat[i,10] = sub_.iat[j,2]
            main_.iat[i,11] = sub_.iat[j,3]

main_2018_merge = main_
# print(main_2018_merge)

In [112]:
main_ = main_2019
sub_ = sub_2019

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,9] = sub_.iat[j,1]
            main_.iat[i,10] = sub_.iat[j,2]
            main_.iat[i,11] = sub_.iat[j,3]

main_2019_merge = main_
# print(main_2019_merge)

In [113]:
main_ = main_2020
sub_ = sub_2020

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,9] = sub_.iat[j,1]
            main_.iat[i,10] = sub_.iat[j,2]
            main_.iat[i,11] = sub_.iat[j,3]

main_2020_merge = main_
# print(main_2020_merge)

In [114]:
main_ = main_2021
sub_ = sub_2021

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,9] = sub_.iat[j,1]
            main_.iat[i,10] = sub_.iat[j,2]
            main_.iat[i,11] = sub_.iat[j,3]

main_2021_merge = main_
# print(main_2021_merge)

In [115]:
result_merge = pd.concat([main_2015_merge, main_2016_merge, main_2017_merge, main_2018_merge, main_2019_merge, main_2020_merge, main_2021_merge])

result_merge

,연도,시도,대계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,학교_학과명,competition_rate,Total_fertility_rate,Net_Mover,immigration
0,2015,강원,인문계열,38,238,37,1,강릉원주대학교_국어국문학과,6.263158,1.311,4773,1200
1,2015,강원,인문계열,27,154,26,1,강릉원주대학교_중어중문학과,5.703704,1.311,4773,1200
2,2015,강원,인문계열,38,193,36,1,강릉원주대학교_영어영문학과,5.078947,1.311,4773,1200
3,2015,강원,인문계열,23,118,23,1,강릉원주대학교_독어독문학과,5.130435,1.311,4773,1200
4,2015,강원,인문계열,27,174,27,1,강릉원주대학교_사학과,6.444444,1.311,4773,1200
...,...,...,...,...,...,...,...,...,...,...,...,...
87090,2021,충남,인문계열,16,105,16,0,한국전통문화대학교_융합고고학과,6.562500,0.963,8522,972
87091,2021,충남,인문계열,5,0,0,0,한국전통문화대학교_기타모집단위,0.000000,0.963,8522,972
87092,2021,충남,공학계열,21,105,21,0,한국전통문화대학교_전통건축학과,5.000000,0.963,8522,972
87093,2021,충남,공학계열,16,76,16,0,한국전통문화대학교_전통조경학과,4.750000,0.963,8522,972
87094,2021,충남,예체능계열,41,90,41,0,한국전통문화대학교_전통미술공예학과,2.195122,0.963,8522,972

In [116]:
result_merge.to_excel('merged_data.xlsx', index = False)

In [117]:
result_merge.head()

,연도,시도,대계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,학교_학과명,competition_rate,Total_fertility_rate,Net_Mover,immigration
0,2015,강원,인문계열,38,238,37,1,강릉원주대학교_국어국문학과,6.263158,1.311,4773,1200
1,2015,강원,인문계열,27,154,26,1,강릉원주대학교_중어중문학과,5.703704,1.311,4773,1200
2,2015,강원,인문계열,38,193,36,1,강릉원주대학교_영어영문학과,5.078947,1.311,4773,1200
3,2015,강원,인문계열,23,118,23,1,강릉원주대학교_독어독문학과,5.130435,1.311,4773,1200
4,2015,강원,인문계열,27,174,27,1,강릉원주대학교_사학과,6.444444,1.311,4773,1200

In [118]:
# result_merge.dtypes

**split test data and trainval data with year**

- X = all variables that we have without '지원자_전체_계'
- y = '지원자_전체_계' in result_merge

In [119]:
result_merge = result_merge.drop('competition_rate',axis=1)
result_merge = result_merge.drop('학교_학과명',axis=1)
print(result_merge)

         연도  시도    대계열  모집인원_학부_계  지원자_전체_계  입학자_전체_계  Gov_Spnsorship  \
0      2015  강원   인문계열         38       238        37               1
1      2015  강원   인문계열         27       154        26               1
2      2015  강원   인문계열         38       193        36               1
3      2015  강원   인문계열         23       118        23               1
4      2015  강원   인문계열         27       174        27               1
...     ...  ..    ...        ...       ...       ...             ...
87090  2021  충남   인문계열         16       105        16               0
87091  2021  충남   인문계열          5         0         0               0
87092  2021  충남   공학계열         21       105        21               0
87093  2021  충남   공학계열         16        76        16               0
87094  2021  충남  예체능계열         41        90        41               0

       Total_fertility_rate  Net_Mover  immigration
0                     1.311       4773         1200
1                     1.311       4773         1200
2                     1.311       4773         1200
3                     1.311       4773         1200
4                     1.311       4773         1200
...                     ...        ...          ...
87090                 0.963       8522          972
87091                 0.963       8522          972
87092                 0.963       8522          972
87093                 0.963       8522          972
87094                 0.963       8522          972

[46476 rows x 10 columns]

In [120]:
test = result_merge[(result_merge['연도']==2020) | (result_merge['연도']==2021)]
X_test = test.drop('지원자_전체_계',axis=1)
y_test = test['지원자_전체_계']
print(X_test)
print(y_test)

         연도  시도    대계열  모집인원_학부_계  입학자_전체_계  Gov_Spnsorship  \
61532  2020  강원   인문계열         33        34               1
61533  2020  강원   인문계열         25        29               1
61534  2020  강원   인문계열         32        32               1
61535  2020  강원   인문계열         18        18               1
61536  2020  강원   인문계열         20        23               1
...     ...  ..    ...        ...       ...             ...
87090  2021  충남   인문계열         16        16               0
87091  2021  충남   인문계열          5         0               0
87092  2021  충남   공학계열         21        21               0
87093  2021  충남   공학계열         16        16               0
87094  2021  충남  예체능계열         41        41               0

       Total_fertility_rate  Net_Mover  immigration
61532                 1.036       5457          446
61533                 1.036       5457          446
61534                 1.036       5457          446
61535                 1.036       5457          446
61536                 1.036       5457          446
...                     ...        ...          ...
87090                 0.963       8522          972
87091                 0.963       8522          972
87092                 0.963       8522          972
87093                 0.963       8522          972
87094                 0.963       8522          972

[13284 rows x 9 columns]
61532    141
61533    117
61534    150
61535     82
61536    122
        ...
87090    105
87091      0
87092    105
87093     76
87094     90
Name: 지원자_전체_계, Length: 13284, dtype: int64

In [121]:
trainval = result_merge[(result_merge['연도']==2015) | (result_merge['연도']==2016) | (result_merge['연도']==2017) | (result_merge['연도']==2018) | (result_merge['연도']==2019)]
X_trainval = trainval.drop('지원자_전체_계',axis=1)
y_trainval = trainval['지원자_전체_계']
print(X_trainval)
print(y_trainval)

         연도  시도    대계열  모집인원_학부_계  입학자_전체_계  Gov_Spnsorship  \
0      2015  강원   인문계열         38        37               1
1      2015  강원   인문계열         27        26               1
2      2015  강원   인문계열         38        36               1
3      2015  강원   인문계열         23        23               1
4      2015  강원   인문계열         27        27               1
...     ...  ..    ...        ...       ...             ...
61526  2019  충남   인문계열         16        15               0
61527  2019  충남   인문계열          2         0               0
61528  2019  충남   공학계열         21        20               0
61529  2019  충남   공학계열         16        16               0
61530  2019  충남  예체능계열         41        40               0

       Total_fertility_rate  Net_Mover  immigration
0                     1.311       4773         1200
1                     1.311       4773         1200
2                     1.311       4773         1200
3                     1.311       4773         1200
4                     1.311       4773         1200
...                     ...        ...          ...
61526                 1.112       -794         1796
61527                 1.112       -794         1796
61528                 1.112       -794         1796
61529                 1.112       -794         1796
61530                 1.112       -794         1796

[33192 rows x 9 columns]
0        238
1        154
2        193
3        118
4        174
        ...
61526    138
61527      0
61528    154
61529    105
61530    145
Name: 지원자_전체_계, Length: 33192, dtype: int64

**feature scaling**

In [122]:
# from sklearn.model_selection import KFold
# kfold = KFold(n_splits=5, shuffle=True, random_state=0)

In [123]:
# scaler = StandardScaler()

# for train_idx, val_idx in kfold.split(X_trainval, y_trainval): # one more for statement inside the for statement for cross-validation

#         # get X_train, y_train, X_valid, y_valid 
#         X_train = X_trainval[train_idx]
#         y_train = y_trainval[train_idx]
#         X_valid = X_trainval[val_idx]
#         y_valid = y_trainval[val_idx]

#         # scale X_train, X_valid  
#         scaler.fit(X_train)
#         X_train_scaled = scaler.transform(X_train)
#         X_valid_scaled = scaler.transform(X_valid)

In [124]:
# # scale X_trainval, X_test  
# scaler.fit(X_trainval)
# X_trainval_scaled = scaler.transform(X_trainval)
# X_test_scaled = scaler.transform(X_test)